[submodule "lib/picomp3lib"]
	path = lib/picomp3lib
	url = https://github.com/ikjordan/picomp3lib.git
[submodule "lib/cJSON"]
	path = lib/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "lib/ezxml"]
	path = lib/ezxml
	url = https://github.com/lxfontes/ezxml.git
[submodule "lib/miniz"]
	path = lib/miniz
	url = https://github.com/randy408/miniz.git
[submodule "lib/libspng"]
	path = lib/libspng
	url = https://github.com/randy408/libspng.git
